* {
  font-size: 16px;
  font-family: "Poppins", system-ui, -apple-system, Roboto;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

section {
  margin: auto;
}

h1 {
  font-size: 66.66px;
  font-weight: bold;
  color: #0a2ff1;
}

p,
strong {
  font-size: 22.55px;
  color: #0a2ff1;
  background-color: #eff2ff;
  width: max-content;
}

strong {
  font-weight: bold;
}

img {
  width: 30;
}

button {
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 10px;
  font-size: 22.55px;
  background-color: #8a9af1;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #7086ff;
}

hr {
  border: none;
  border-bottom: 10px solid #3ffff3;
  width: 100%;
  padding: 0.25rem;
}
